.znBox{ border:1px solid #202020; overflow:hidden; clear:both;padding:20px 0px 0px 18px;}
.gf a{font-size:20px;color:#39b3e2;text-decoration:underline}
.gf_tit{font-size:14px;color:#D4465C}

.top{background:url(../images/top2.gif) no-repeat scroll 4% 20px;padding:20px 0px 50px 0px; overflow:hidden;clear:both} 
.gf_con{font-size:14px;}
.adBox{ overflow:hidden;clear:both; text-align:center}


